<!-- employee_data.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Employee Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Employee Management System</h1>
        <a class="button" href="/logout">Logout</a>
    </div>
    <div class="container">
        <h1>Select the CRUD operation:</h1>
        <div class="action-buttons">
            <a class="button" href="/employee_data/select">Select</a>
            <a class="button" href="/employee_data/insert">Insert</a>
            <a class="button" href="/employee_data/update">Update</a>
            <a class="button" href="/employee_data/delete">Delete</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <li style="color: red;">{{ message }}</li>
                    {% elif category == 'success' %}
                        <li style="color: green;">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if employees %}
        <div class="container">
            <h1>Employee Details</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Experience</th>
                        <th>Salary</th>
                        <th>Skills</th>
                        <th>Qualifications</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.experience }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>{{ employee.skills }}</td>
                            <td>{{ employee.qualifications }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</body>
</html>
