<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content-container">
            <h1>Login</h1>
            {% if invalid_credentials %}
            <p style="color: red;">Invalid username or password. Please try again.</p>
            {% endif %}
            <form action="/login" method="post">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required style="margin-bottom: 10px;">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required style="margin-bottom: 10px;">
                </div>
                <button type="submit">Login</button>
            </form>
            <p style="margin-top: 10px;">Don't have an account? <a href="/signup">Signup</a></p>

            {% if new_user %}
            <div>
                <h2>Newly Created Login Credentials:</h2>
                <p><strong>Email:</strong> {{ new_user.email }}</p>
                <p><strong>Password:</strong> {{ new_user.password }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
