<!-- select_employee.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Select Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Employee Management System</h1>
        <a class="button" href="/logout">Logout</a>
    </div>
    <div class="container">
        <h1>Select Employee</h1>
        <form action="/employee_data/select" method="post">
            <div>
                <label for="search_query">Enter Name (or '*'):</label>
                <input type="text" id="search_query" name="search_query" required style="margin-bottom: 10px;">
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
