/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', serif;
}

/* Improved content container */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Improved box shadow for floating effect */
}

.content-container {
    text-align: center;
    padding: 40px;
}

/* Custom navigation bar styles */
.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #0056b3;
}

/* Fancy button styles */
.button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
}

/* Flash messages styles */
.flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flash-messages li {
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* Fancy form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Improved box shadow for floating effect */
}

form h1 {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    max-width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

form button[type="submit"]:hover {
    transform: scale(1.05);
}

form p {
    margin-top: 10px;
}

/* Fancy table styles */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e6e6e6;
}
